.mt_200 {
  margin-top: 200px;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color-white);
  overflow: hidden;
  background-color: var(--bg-color-light);
  color: var(--text-color-dark);
}

body a {
  text-decoration: none;
}

body p {
  font-family: "Coolvetica";
  font-weight: 300;
  font-size: 1.1rem;
  letter-spacing: 0.2px;
  line-height: 130%;
}

/* lenis styles */

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* utalities */

[data-hidden] {
  opacity: 0;
}

[data-animation="text-reveal"] {
  display: block;
  overflow: hidden;

  > * {
    display: block;
    line-height: 1;
    transform: translateY(100%);
  }
}

[data-animation="gif-reveal"] {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 10rem;
  transform-origin: center;
  opacity: 0;
}

/* utalities */
.container {
  width: 84vw;
  margin: 0 auto;
}

.uppercase {
  text-transform: uppercase;
}

.highlight {
  position: relative;
  display: inline-block;
}

.highlight:before,
.highlight:after {
  content: "";
  position: absolute;
  bottom: -15%; /* Adjust for desired distance below text */
  left: 0;
  width: 100%;
  height: 75%;
  background-color: rgba(137, 43, 226, 0.17);
  z-index: -1;
}

.highlight_color {
  color: var(--color-highlight);
}

.bold_md {
  font-weight: 500;
}

.underline {
  text-decoration: underline;
  padding: p4x 0px;
}

.flex_col {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
