:root {
  /* Design Variables */
  --test-color: red;

  /* Color - neutrals */
  --color-white-0: #ffffff;
  --color-black-400: #121314;

  /* Color - grey-scale */
  --color-grey-02: rgba(0, 0, 0, 0.2);
  --color-grey-08: rgba(0, 0, 0, 0.8);
  --color-grey-20: #fbfbfb;
  --color-grey-50: #eeeeee;
  --color-grey-100: #e6e6e6;
  --color-grey-400: #676767;

  /* Color - utalities */
  --color-violet-400: rgb(117, 24, 204);

  /* --------------------- */
  /* --- DESIGN TOKENS --- */
  /* --------------------- */
  /* BACKGROUNDS */
  --bg-color-light: var(--color-grey-20);

  /* Colors - Utalities */
  --color-highlight: var(--color-violet-400);

  /* TEXT */
  --text-color-dark: var(--color-black-400);
  --text-color-light: var(--color-grey-20);

  /* PROJECT SECTION */
  --project-divider-line: var(--color-grey-02);
  --project-footer-line: var(--color-grey-02);
  --project-cta-border: var(--color-black-400);

  /* FOOTER SECTION */
  --footer-bg-color: var(--color-grey-50);
  --footer-divider-line: var(--color-grey-02);
}
